<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grass_lower.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,192}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>grass_upper.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{512,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,192}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ca2debe9c8101778cc9980d703193a$</string>
            <key>textureFileName</key>
            <string>foreground.pvr.ccz</string>
        </dict>
    </dict>
</plist>
