<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_laugh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,198},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,396},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>mole_thump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,594},{176,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{176,198}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa07143ed0897a19385338db499f760$</string>
            <key>textureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
