<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>mole_thump1.png</string>
    <string>mole_thump2.png</string>
    <string>mole_thump3.png</string>
    <string>mole_thump4.png</string>
</array>
</plist>
